@font-face {
    font-family: "PlayFairBold";
    src: url(../Fonts/PlayfairDisplay-Bold.ttf) format("truetype");
}
@font-face {
    font-family: "PlayFairBoldItalic";
    src: url(../Fonts/PlayfairDisplay-BoldItalic.ttf) format("truetype");
}@font-face {
    font-family: "PlayFairItalic";
    src: url(../Fonts/PlayfairDisplay-Italic.ttf) format("truetype");
}@font-face {
    font-family: "PlayFairRegular";
    src: url(../Fonts/PlayfairDisplay-Regular.ttf) format("truetype");
}@font-face {
    font-family: "CourierNew";
    src: url(../Fonts/Courier-New.ttf) format("truetype");
}@font-face {
    font-family: "CourierNewRegular";
    src: url(../Fonts/Courier-New-Regular.ttf) format("truetype");
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.playfair{
    font-family: PlayFairRegular !important;
}

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
 
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
 
    -webkit-animation-duration:0.5s;
    -moz-animation-duration:0.5s;
    animation-duration:0.5s;


}

/*
**
** REPORT
**
*/

.monthly-bucket{
	display:inline-block;
	text-align: center;
	width:20.5%;
	margin-top:2%;
	margin-left: 2%;
	margin-right: 2%;

}
.report-header{
	padding-top: 80px;
}
.month-caption{
	margin-top:13px;
	font-size: 24px;
	letter-spacing:2.25px;
	margin-bottom:1px;
	color: #B38845;
}
.month-sub-caption{
	font-size: 20px;
	letter-spacing:1.25px;
	margin-bottom:20px;
	color: #B38845;

}
.month-options{
	font-size: 11px;
	margin-bottom:1px;
	letter-spacing:1px;
	color: #939597;
}
.month-container a{
color: #B38845;
text-decoration: none;
}
.separator-month{
	margin-top:1px;
	width: 100%;
}
.image-center{
margin-left: auto;
display: block;
margin-right: auto;
}

.month-container{
margin-left:15%;
margin-right:15%;
font-family: "Playfair Display SC";

}

#header{

    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    position: relative;
    z-index: 8001;
}

.normalize-sqs-col-14{
	margin-left: 	15% !important;
	width: 	80% !important;
	text-align: center;
}

.title-nav-wrapper {
    padding: 30px 30px;
    display: table;
    width: 100%;
    margin: 0 auto;
    vertical-align: middle;	
    box-sizing: border-box;
}
.my-hr{
margin-top: 10px !important;
margin-bottom: 5px !important;
color: #B38845;
}
.circles-container {
	font-family: "Playfair Display SC" !important;
	margin-top: -100px;
	width: 825px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom: 26%
	
}
.caption-circles{
color: #B38845;
}

a.darken {
    display: inline-block;
    background: black;
    padding: 0;
}

a.darken img {
    display: block;

    -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
         -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
}

a.darken:hover img {
    opacity: 0.7;

}

.round-circle-pic {
	display: inline-block;
}

.circle-picture{
	width : 75%;

}
.circle {
    margin-right:5%;
	border-radius: 50%;
	width:150px;
	height:150px;
	font-size:12px;
	font-family:Playfair;
	color:#fff;
	background:#B38745;
	display: inline-block;
}

.inner-circle-text{
	text-align:center;
	margin-top: 40px !important;
}

.addon{
	font-size:11px !important;
}

.my-hr-reservation{
width: 70%;
margin-left: 15% !important;
margin-bottom:8px !important;
margin-top: 15px !important;
}

.reservation-price{
font-size: 24px;
}

.inline-circles{
    padding-left:10px;
position: absolute;
left: 50%;
width: 50%;
}

.fixed-size-square {
    display: table;
    width: 200px;
    height: 35px;
    background: #fff;
	border: solid 1px #C0C0C0;
	position: absolute;
	left: 50%;
	margin-top: -73px !important;
	margin-left: 12%;
}
.separator-hr{
	width: 79.5% !important;
	margin-left: 5.5%;
	border: solid 1px #B38745;

	
}
.addon2{
margin-left:73px !important;
}
.fix-season-img{
position: absolute;
right: 17%;
margin-top: 2%;

}

.fixed-size-square span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: black;
}

.centered-caption-label {
    width:100% !important;
}
#header .site-title {
    color: #fff;
}
.site-title {
    width: 16%;
    font-family: "Courier New", "Courier", "monospace";
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 12px;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
    line-height: 1em;
    z-index: 100;
    position: relative;
}

#mobileNav, #mobileMenu {
    display: none;
    visibility: hidden;
}

#desktopNav {
    display: table-cell;
    width: 70%;
    text-align: right;
    vertical-align: middle;
}

#header .site-title a, #header .site-title a:visited {
    text-decoration: none;
    color: #fff;
}

.main-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
    line-height: 1em;
}

.main-nav ul li {
    text-align: right;
    display: inline-block;
    margin: 0 0 0 30px;
}
.main-nav ul li a span, .main-nav ul li a:visited span {
    font-family: "Source Sans Pro", sans-serif;
    font-size: .85em;
    font-weight: 400;
    letter-spacing: 3px;
    font-family: "Courier New", "Courier", "monospace";
    font-size: .75em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: normal;
    font-style: normal;
    line-height: 2em;
}
.cf li a
{
    color:white !important;
    text-decoration:blink;
}
.main-nav ul li {
    margin: 0 0 0 18px;
}

.site-title {
    font-family: "Source Sans Pro", sans-serif;
    font-family: "Courier New", "Courier", "monospace";
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 12px;
    font-weight: normal;
    font-style: normal;
}	

.site-title img {
    max-height: 100px;
    max-width: 150px;
}

#header .site-title a, #header .site-title a:visited {
    text-decoration: none;
    color: #fff;
}

.icon-menu {
    -webkit-transition: color .14s ease;
    -moz-transition: color .14s ease;
    -o-transition: color .14s ease;
    transition: color .14s ease;
}


.title-nav-wrapper {
    display: table;
    width: 100%;
    margin: 0 auto;
    padding: 20px 25px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.logo-title {
    top: 6px;
    position: absolute;
    width: 100% !important;
    right: 0px;
    z-index: 999999;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.logo2{
    top: 15px;
    position: absolute;
    left: 30px;
    z-index: 999999;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
#desktopNav {
    display: table-cell;
    width: 70%;
    text-align: right;
    vertical-align: middle;
}
.title-white-bar
{
color: #B38845;
margin-bottom: 18px;
font-family: "Playfair Display SC";
font-size: 28px;
}
.title-nav-wrapper ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
    line-height: 1em;
	margin-top:16px;
}
ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.cf:before, .cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf:before, .cf:after {
    content: " ";
    display: table;
}

#header {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    position: relative;
    z-index: 8001;
}
.link-title  a
{
    color:#fff;
}
.link-title  span
{
    color: rgb(255, 255, 255);
    cursor: auto;
    display: inline;
    font-family: 'Courier New', Courier, monospace;
    font-size: 11px;
    height: auto;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: normal;
    font-style: normal;
    line-height: 2em;
}

.initial-title{
    font-size:12px !important;
}

.keep-reading{
    font-size:small;
}

.cloud{
    z-index:100 !important;
    position: absolute;
}
.right-cloud{
    right:0px;
}
.left-cloud{
    margin-top: -80px;
    left:0px;
}
#footer{
    width: 100%;
    background-color: #323232;
    position: relative;
}
.contact-us{
    color: #fff;
    margin: 0 auto;
    padding: 38px 8%;
    display: block !important;
    text-align:center;
}

.about-us-container{
    color: #fff;
    display: block !important;
    font-family: "Myriad Pro";
    font-size:11px;
    letter-spacing: 2px;
}
.row-footer{
    margin-left:45px !important;
}

.footer-logos{
    margin-bottom:20px;
}
hr{
    width:10%;
    /*margin-top:20px !important;*/
	margin-top:10px !important;
    margin-bottom:10px;
}

.footer-logos img{
    margin-right:15px;
}
.about-us-title{
    font-size: 14px;
    letter-spacing: 1px !important;
}
.about-us-subtitle{
    margin-bottom:2px;
    font-size: 12px;
    font-weight:bold;
}
.contact-form-container{
	font-family: "Playfair Display SC";
	font-size: 25px;
	letter-spacing: 1.5;
   
}
.contact-form-container hr
{
margin-left: 48% !important;
width: 4% !important;
}

.bp-basics{
    margin-top:50px;
}
media="screen"
@media screen and (max-width: 1440px)
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
element.style {
    color: rgb(137, 137, 137);
}
plan.phpmedia="screen"
@media screen and (max-width: 1440px)
input {
    width: 42%;
    height: 45px;
    padding: 15px;
    margin-right: 20px;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 10px;
    font-family: "garamond-premier-pro", serif;
    color: #898989;
    text-transform: uppercase;
    border: solid 1px #d7d7d7;
}
plan.phpmedia="screen"
@media screen and (max-width: 1920px)
input {
    width: 27%;
    height: 45px;
    padding: 15px;
    margin-right: 20px;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 10px;
    font-family: "garamond-premier-pro", serif;
    color: #898989;
    text-transform: uppercase;
    border: solid 1px #d7d7d7;
}
plan.phpmedia="screen"
input {
    width: 30%;
    height: 45px;
    padding: 15px;
    margin-right: 20px;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 10px;
    font-family: "garamond-premier-pro", serif;
    color: #898989;
    text-transform: uppercase;
    border: solid 1px #d7d7d7;
}
plan.phpmedia="screen"
@media screen and (max-width: 1440px)
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
plan.phpmedia="screen"
* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheetinput:not([type]), input[type="color"], input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"] {
    padding: 1px 0px;
}
user agent stylesheetinput, input[type="password"], input[type="search"], isindex {
    -webkit-appearance: textfield;
    padding: 1px;
    background-color: white;
    border: 2px inset;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
}
user agent stylesheetinput, textarea, keygen, select, button, isindex {
    margin: 0em;
    font: -webkit-small-control;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
}

plan.phpmedia="screen"
::selection {
    background: #4d4d4d;
    color: #fff;
}
.bp-basics .bp-input {
    width: 27%;
}
.bp-input {
    margin: 0 15px 30px 15px;
    padding: 5px !important;
    font-weight: 400;
    font-size: 12px !important;
    letter-spacing: 1px;
    line-height: 10px;
    font-family: "Playfair Display SC";
    color: #898989;
    text-transform: uppercase;
    background: #f3f3f3;
    outline: none;
    border: solid 1px #f3f3f3;
    -webkit-transition: background .4s ease;
    -moz-transition: background .4s ease;
    -o-transition: background .4s ease;
    transition: background .4s ease;
    height:30px;
}


.actions-container
{
    width: 100%;
    height:120px;
}

#send
{
    margin-right:40px;
    border:1px solid;
}

.contact-footer-container
{
	width:100%
}
.contact-footer-mail
{
  margin-right: 10%;	
}

#reset
{
    border:1px solid;
}
.actions-container input
{
    width: 137px;
	height: 45px;
	background-color: #323232;
	color: #fff;
	cursor: pointer;
	font-family: "Playfair Display SC";
	font-size: 22px;
}

.centered-title{
    top: 50%;
    left: 50%;
    margin-top: -32.5px;
    margin-left: 0px;
    position: absolute;
    margin: 0 auto;
    max-width: 800px;
    padding: 0;
    font-family: "Playfair Display SC";
    font-size: 18px;
    line-height: 1.6em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
}

.slider-title{
    text-align: center;
    position: relative;
    font-family: "Playfair Display SC";
    font-size: 30px;
    line-height: 1.6em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;

}

#slides .slides-container {
	width: 100% !important;
    display: none;

}

#slides .scrollable {
    *zoom: 1;
    position: relative;
    top: 0;
    left: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: 100%;
}
#slides .scrollable:after {
    content: "";
    display: table;
    clear: both;
}

.slides-navigation {
    margin: 0 auto;
    position: absolute;
    z-index: 3;
    width: 100%;
}
.slides-navigation a {
    position: absolute;
    display: block;
}
.slides-navigation a.prev {
    left: 40px;
    bottom: 40px;
    opacity: .3;


}
.slides-navigation a.prev:hover {
    opacity: 1;

    -webkit-transition:all .3s ease-in;  
    -moz-transition:all.3s ease-in;  
    -o-transition:all .3s ease-in;  
    transition:all .3s ease-in; 

    -webkit-transition:all .3s ease-out;  
    -moz-transition:all.3s ease-out;  
    -o-transition:all .3s ease-out;  
    transition:all .3s ease-out; 
}
.slides-navigation a.next {
    right: 40px;
    bottom: 40px;
    opacity: .3;

}
.slides-navigation a.next:hover {
    opacity: 1;

    -webkit-transition:all .3s ease-in;  
    -moz-transition:all.3s ease-in;  
    -o-transition:all .3s ease-in;  
    transition:all .3s ease-in; 

    -webkit-transition:all .3s ease-out;  
    -moz-transition:all.3s ease-out;  
    -o-transition:all .3s ease-out;  
    transition:all .3s ease-out; 
}

.slides-pagination {
    position: absolute;
    z-index: 2;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.slides-pagination a {
    border: 3px solid #ffffff;
    border-radius: 1px;
    width: 40px;
    height: 4px;
    display: -moz-inline-stack;
    opacity: .2;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    margin: 2px;
    overflow: hidden;
    text-indent: -100%;
    margin-bottom: 42.5px;
}
.slides-pagination a.current {
    background: #fff;
    opacity: 1;
}


#slides .inner {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-top: 15%;
	padding-left: 70%;
	font-size:33px;

}
.first {
    position: relative;
    text-align: center;
    width: 100%;
    padding-top: 20%;
    text-shadow: 0 0 3px rgba(0,0,0,.05), 0 1px 5px rgba(0,0,0,.3);
}



/*grid stuff */

.sqs-layout > .sqs-row {
    margin-left: -17px;
    margin-right: -17px;
}
.normalize{
    margin-left: 0px !important;
    margin-right: 0px !important;
}
/* GENERAL CASE (img tags are preserved in html blocks for imported content) */
.sqs-layout .html-block.sqs-block img {
    max-width: 100%;
}
/* Tumblr */
.sqs-layout .html-block.sqs-block img[align=left] {
    margin-right: 34px;
}
.sqs-layout .html-block.sqs-block img[align=right] {
    margin-left: 34px;
}
.sqs-layout .html-block.sqs-block img[align=top] {
    vertical-align: top;
}
.sqs-layout .html-block.sqs-block img[align=middle] {
    vertical-align: middle;
}
.sqs-layout .html-block.sqs-block img[align=bottom] {
    vertical-align: bottom;
}
.sqs-row {
    width: auto !important;
    *zoom: 1;
}
.sqs-row:before,
.sqs-row:after {
    content: "";
    display: table;
}
.sqs-row:after {
    clear: both;
}
.sqs-layout:not(.sqs-editing) .sqs-row .sqs-block:not(.float):first-child {
    padding-top: 0;
}
.sqs-layout:not(.sqs-editing) .sqs-block + .sqs-row .sqs-block:not(.float):first-child {
    padding-top: 17px;
}
.sqs-layout:not(.sqs-editing) .sqs-row + .sqs-row .sqs-block:not(.float):first-child {
    padding-top: 17px;
}
.sqs-layout:not(.sqs-editing) .sqs-row .sqs-block:last-child {
    padding-bottom: 0;
}
.sqs-layout:not(.sqs-editing) > .sqs-row:first-child > [class*=sqs-col]:first-child > .sqs-block:last-child,
.sqs-layout:not(.sqs-editing) .sqs-block + .sqs-row .sqs-block:not(.float):last-child {
    padding-bottom: 17px;
}
.sqs-layout:not(.sqs-editing) .sqs-row + .sqs-row:not(:last-child) .sqs-block:last-child {
    padding-bottom: 17px;
}
.sqs-layout .sqs-row .sqs-block:first-child {
    padding-top: 17px !important;
}
.sqs-layout .sqs-row .sqs-block:last-child {
    padding-bottom: 17px !important;
}
.sqs-layout .sqs-row + .sqs-row,
.sqs-layout .sqs-row + .sqs-block {
    margin-top: 0 !important;
}

[class*=sqs-col] {
    float: left;
}
[class*=sqs-col] .sqs-block {
    padding-left: 17px;
    padding-right: 17px;
}
[class*=sqs-col]:last-child {
    padding-right: 0;
}
.sqs-col-16{
    margin-top:10px;	
    width: 100% !important;
    margin-bottom:10px;	
}
.sqs-col-16 .sqs-col-8{
    width: 50%;
}

.sqs-col-14 {
    margin-top:10px;	
    width: 90% !important;
    margin-bottom:10px;	
}
.sqs-col-14 .sqs-col-6{
    width: 42.8571%;
}
.sqs-col-14 .sqs-col-7{
    width: 50%;
}
.sqs-col-14 .sqs-col-10{
    width: 64.28%;
}
.sqs-col-14-margin{
    width: 85%;
    margin-left:20%;
    margin-bottom:40px;
}
.sqs-col-14 .sqs-col-4{
    width: 28.5714%;
}
.sqs-col-12 {
    margin-top:40px;	
    margin-left: 10% !important;
    width: 90% !important;
    margin-bottom:30px;	
}
.sqs-col-12 .sqs-col-12 {
    width: 100%;
}
.sqs-col-12 .sqs-col-11 {
    width: 91.6667%;
}
.sqs-col-12 .sqs-col-10 {
    width: 83.3333%;
}
.sqs-col-12 .sqs-col-9 {
    width: 75%;
}
.sqs-col-12 .sqs-col-8 {
    width: 66.6667%;
}
.sqs-col-12 .sqs-col-7 {
    width: 58.3333%;
}
.sqs-col-12 .sqs-col-6 {
    width: 50%;
}
.sqs-col-12 .sqs-col-5 {
    width: 41.6667%;
}
.sqs-col-12 .sqs-col-4 {
    width: 33.3333%;
}
.sqs-col-12 .sqs-col-3 {
    width: 25%;
}
.sqs-col-12 .sqs-col-2 {
    width: 16.6667%;
}
.sqs-col-12 .sqs-col-1 {
    width: 8.3333%;
}
.sqs-col-6 {
    width: 50%;
}
.sqs-col-6 .sqs-col-6 {
    width: 100%;
}
.sqs-col-6 .sqs-col-5 {
    width: 83.3333%;
}
.sqs-col-6 .sqs-col-4 {
    width: 66.6667%;
}
.sqs-col-6 .sqs-col-3 {
    width: 50%;
}
.sqs-col-6 .sqs-col-2 {
    width: 33.3333%;
}
.sqs-col-6 .sqs-col-1 {
    width: 16.6667%;
}
html .sqs-block.sqs-block-html .sqs-block-content {
    cursor: auto;
}
.sqs-block-html {
    clear: none;
    word-wrap: break-word;
}

.sqs-block-html .sqs-block-content {
    outline: none;

}
.sqs-block-html .sqs-block-content *:first-child {
    margin-top: 0;
}
.sqs-block-html .sqs-block-content *:last-child {
    margin-bottom: 0;
}

.sqs-block.vsize-1 .sqs-block-content {
    height: 34px;
}
.sqs-block.vsize-2 .sqs-block-content {
    height: 68px;
}
.sqs-block.vsize-3 .sqs-block-content {
    height: 102px;
}
.sqs-block.vsize-4 .sqs-block-content {
    height: 136px;
}
.sqs-block.vsize-5 .sqs-block-content {
    height: 170px;
}
.sqs-block.vsize-6 .sqs-block-content {
    height: 204px;
}
.sqs-block.vsize-7 .sqs-block-content {
    height: 238px;
}
.sqs-block.vsize-8 .sqs-block-content {
    height: 272px;
}
.sqs-block.vsize-9 .sqs-block-content {
    height: 306px;
}
.sqs-block.vsize-10 .sqs-block-content {
    height: 340px;
}
.sqs-block.vsize-11 .sqs-block-content {
    height: 374px;
}
.sqs-block.vsize-12 .sqs-block-content {
    height: 408px;
}
.sqs-block.vsize-13 .sqs-block-content {
    height: 442px;
}
.sqs-block.vsize-14 .sqs-block-content {
    height: 476px;
}
.sqs-block.vsize-15 .sqs-block-content {
    height: 510px;
}
.sqs-block.vsize-16 .sqs-block-content {
    height: 544px;
}
.sqs-block.vsize-17 .sqs-block-content {
    height: 578px;
}
.sqs-block.vsize-18 .sqs-block-content {
    height: 612px;
}
.sqs-block.vsize-19 .sqs-block-content {
    height: 646px;
}
.sqs-block.vsize-20 .sqs-block-content {
    height: 680px;
}
.sqs-block.vsize-21 .sqs-block-content {
    height: 714px;
}
.sqs-block.vsize-22 .sqs-block-content {
    height: 748px;
}
.sqs-block.vsize-23 .sqs-block-content {
    height: 782px;
}
.sqs-block.vsize-24 .sqs-block-content {
    height: 816px;
}
.sqs-block.vsize-25 .sqs-block-content {
    height: 850px;
}
.sqs-block.vsize-26 .sqs-block-content {
    height: 884px;
}
.sqs-block.vsize-27 .sqs-block-content {
    height: 918px;
}
.sqs-block.vsize-28 .sqs-block-content {
    height: 952px;
}
.sqs-block.vsize-29 .sqs-block-content {
    height: 986px;
}
.sqs-block.vsize-30 .sqs-block-content {
    height: 1020px;
}

.sqs-block-content span{
    font-family: "Courier New", "Courier", "monospace";
    font-size: 14px;
    line-height: 1.6em;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    color:#B38845;
	
}
.sqs-block-content hr{
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    border-top: 1px solid #B38845;
    margin-left:45%
}
.sqs-block-content h1{
    color:#B38845;
    margin-bottom: 18px;
    margin-left: 13px;
}
.sqs-block-content p {
    text-align:right;
    font-weight: bold !important;
}


.back-to-top-link a{
    background:url('../img/Triangulo.png') no-repeat;
    display: block;
    z-index: 10;
    width: 81px;
    height: 50px;
    margin-left: 47.25%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 50%;
    position: absolute;
    margin-top: -34px !important;
    padding-top: 2px;   
}
 .back-to-top-link a{
     background:url('../img/top-arrow.png') no-repeat;
     display: block;
      z-index: 10;
      width: 81px;
  }
.scroll-me {
    background:url('../img/Triangulo.png') no-repeat;
    display: block;
    z-index: 10;
    /*width: 334px;
    height: 167px;
    margin-left: 47.25%; */
	width: 334px;
    height: 167px;
    margin-left: 38.25%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 50%;
    position: absolute;
    margin-top: -32px !important;
    padding-top: 2px;   
}

.fright{
float:right;
margin-right: 5%;
}

.lodge-
.lodge-icons {
	
    left: 83%;
    z-index: 100 !important;
    position: absolute;
}
.section-separator
{
    width:95%;
    margin-bottom: 40px;
    margin-left:7%;
	background-color: #B38845;
	color: #B38845;
	height: 1.5px;
}
.section-separator-fishing
{
    width:95%;
    margin-left:7%;
}
.lodge-sect{
    margin-bottom:30px;
    margin-left:5%;
}
.text-primary
{
    font-size:18px !important;	
}
.travel-title-content
{
margin-top:60px;
}

.travel-title-content hr
{
margin-left:45%;
}
.sqs-col-12-travel {
margin-top: 15px;
margin-left: 10% !important;
width: 90% !important;
margin-bottom: 30px;
}
.normalize-sqs-col-14-travel{
margin-left: 18% !important;
width: 80% !important;
text-align: center;
}

#contact-form   label {
display: none;
font: 100 1.2em/1.4 "Playfair Display SC", sans-serif;
color: #fff;
text-transform: uppercase;
letter-spacing: .2em;
font-size: 12px !important;
padding: 5px !important;

}
#contact-form  input[type=text], #contact-form  input[type=email], #contact-form  textarea {
margin-left: 5%;
margin-bottom: 80px;
padding: 16px 10px 16px 0px;
width: 100%;
color: #fff;
border: none;
border-bottom: 1px solid #fff;
background: none;
font: 100 1.2em/1.4 "Playfair Display SC", sans-serif;
letter-spacing: .05em;
-webkit-appearance: none;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
font-size: 12px !important;
width: 27%;
}
 #contact-form  textarea {
width: 92% !important; 
margin-bottom: 50px !important;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #fff;
}




  